@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*-------------------------------------------------------------Colors*/
body {
    background-color: rgba(165, 166, 166, 0.183);
    font-family: 'Roboto' , ' Merriweather', sans-serif;
    margin-left: 0;
    margin-right: 0;
}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

/*-------------------------------------------------------------Header*/
header {
        background-color: rgba(165, 166, 166, 0.183);
}

.jumbotron {
    background-color: rgb(165, 165, 165);
    width: auto;
}

/*-------------------------------------------------------------Banner*/
.banner {
    background: url(../images/smile-bg.jpg);
    color: #f1f1f1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  0 -300px ;
    background-color: rgb(113, 113, 113); 
    height: 80vh; 
}

.container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    align-items: center;
    height: inherit;
    overflow: auto;
}
@media screen and (max-width: 768px) {
    .banner {
        padding: 2em;
        text-align: center;
        max-width: 100%; 
        height: auto; 
    }
    p {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 567px) {
    .banner {
        max-width: 100%; 
        height: auto; 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .container {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
}

.herotext {
    font-weight: 800;
    padding: 5px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: #fff;
}

/*---------------------------------------------------------------- Tooth logo */
.logo {
    height: 125px;
    width: auto;
    border-radius: 50px;
}

/*--------------------------------------------------------------Navbar*/


.navbar-expand-lg .navbar-collapse {
    margin-left: 13%;
    
}

a {
    color: #17a2b8;
    font-family: 'Roboto', serif;
    font-size: 25px;
    font-weight: 600;
}

.btn-outline-primary {
    color: #17a2b8;
    border-color: #17a2b8;
}

@media screen and (max-width: 600px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

.nav-link {
    margin-top: 1.5rem;
    margin-left: 3rem;
}

.fa-phone{
    font-size:50px;
    margin-left: 100px;
    margin-top: 20px;
}
.phone{
    color: #17a2b8;
    font-size: 25px;
    margin-left: 60px;
}

/*------------------------------------------------------------- Testimonials*/
.whatpatientssay {
    margin-top: 48px;
}

.staff-pictures {
    width: 380px;
    height: 300px;
    object-fit: cover;
    padding: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;

}

.ourpatients-container {
    margin-top: 38px;
}

.jumbotron {
    padding: 0;
}

.ourpatients {
    width: 90px;
    height: 90px;
    object-fit: fill;
    border-radius: 50%;
    padding: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.patient-testimonial {
    font-weight: normal;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}
.fa {
    color: #17a2b8;
}
.fa-angle-double-down{
    font-size: 55px;
}

/*-------------------------------------------------------------Footer*/
#footer-info {
    background-color: rgb(165, 165, 165);
    color: #fafafa;
    min-height: 50px;
}

footer>.row {
    align-items: flex-start;
}

footer ul {
    list-style-type: none;
}

footer h5 {
    margin-bottom: 12px;
    margin-top: 12px;
    font-weight: 600;
}

.contact,
.opening-hours {
    margin: 0 0 8px;
    padding: 0;
}

.socialicons {
    font-size: 29px;
    margin-right: 30px;
}

.divider {
    border: 1px solid #ccc;
    margin: 20px 0;
}
/*---------------------------------------------------------------Booking Form*/
.form-section {
    background: url(../images/smile-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .form-container
  {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  form{
    color:#fff;
    max-width:80%;
    background-color: rgba(25, 24, 24, 0.612);
    border-radius: 2%;
  }
  .form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; 
    color:#fff;
}
label {
    display: block;
    margin: 0.5rem 0;
}
 input, textarea, label {
  width: 80%; 
  padding: 8px;
  border-radius: 2%;
}
input, textarea, select {
    background-color: #0b0b0b77;
    border: 1px solid #0b0b0b77;
    color: #ffffff;
    border-radius: 2%;
  }
label {
    display: block;
    margin: 0.5rem 0;
    margin-left: 18%;
}
textarea{
    margin-top:10px;
}
input[type="submit"] {
    display: block;
    width: 50%;
    margin-bottom: 40px;
    margin-left: 22%;
    height: 2em;
    font-size: 1.1rem;
  } 
/*-----------------------------------------------------------------Gallery*/
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
  }
  .gallery img {
    max-width: 100%;
    max-height: 250px;
  }
  /*-----------------------------------------------------------------Treatments*/
  .treatments {
    height: 60vh; 
} 
.treatments-text {
    font-size: medium;
}
.row > .treatments-header {
    background: url(../images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 40vh; 
}
  .treatments-header {
    display: flex;
    justify-content: center;  
    align-items: center;
    color:#fcf9f9;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
}
      